@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");
@import url("./styles/topicos.css");
@import url("./styles/contato.css");
@import url("./styles/rodape.css");
@import url("./styles/secao_1.css");


:root{
    --cor-de-fundo:#ffcef6;
    --branco:rgb(255, 201, 251);
    --laranja:#eb00c0;
    --azul-degrade: linear-gradient(97.54deg,#002F52 35.49%,#326589 165.37%);
    --fonte-principal:"Poppins";
    --azul:#002f52;
    --fonte-secundaria:"Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro:#858585;
    --roxo-degrade:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(109,9,121,1) 35%, rgba(255,0,221,1) 100%);
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}